.box1{
    background-color: #093709; 
    height: 30px;
}

.box2{
    background-color: black;
    height: 45px;
    padding-top: 5px;
}

.redes{
    font-size: 40px !important;
    color: white
}

.textos{
    color: white;
    font-size: smaller !important;
}

.fundo1{
    background-color: #093709;
}

.fundo2{
    background-color: black;
}